In [1]:
import pymysql
import time
import datetime

In [2]:
host_, user_, password_, db_ = ['IP_ADDRESS', 'MYSQL_ID', 'PASS_WORD', 'DB']

In [4]:
# SELECT Example 1
conn = pymysql.connect(host=host_, user=user_,
                       password=password_, db=db_, charset='utf8')
try:
    curs = conn.cursor()
    sql = "SELECT * FROM visitor_info"
    curs.execute(sql)
    datas = curs.fetchall()
    for data in datas:
        print(data)
finally:
    conn.close()

('Lee', datetime.datetime(2023, 5, 5, 16, 28, 7))
('Lee', datetime.datetime(2023, 5, 5, 16, 36, 3))
('sung_jun', datetime.datetime(2023, 5, 5, 16, 51, 42))

In [7]:
# SELECT Example 2
conn = pymysql.connect(host=host_, user=user_,
                       password=password_, db=db_, charset='utf8')
try:
    curs = conn.cursor()
    sql = "SELECT * FROM visitor_info"
    curs.execute(sql)
    data = curs.fetchall()
    print(data[0])
finally:
    conn.close()

('Lee', datetime.datetime(2023, 5, 5, 16, 28, 7))

In [9]:
# DELETE Example 1
conn = pymysql.connect(host=host_, user=user_,
                       password=password_, db=db_, charset='utf8')
try:
    curs = conn.cursor()
    sql = "DELETE FROM visitor_info WHERE user_id=%s"
    val = ("Lee")
    curs.execute(sql, val)
    conn.commit()

finally:
    conn.close()

In [10]:
# Insert Example 1
conn = pymysql.connect(host=host_, user=user_,
                       password=password_, db=db_, charset='utf8')

try:
    curs = conn.cursor()
    sql = "INSERT INTO visitor_info VALUES (%s, %s)"
    ts = time.time()
    timestamp = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
    val = ("lee", timestamp)
    curs.execute(sql, val)
    conn.commit()
finally: 
    conn.close()